html,
body {
    height: 100%;
    width: 100%;
    margin: 0;
    box-sizing: border-box;
}
body {
    position: relative;
    font-size: 1rem;
    font-family: $font-main;
    background-color: $color-background-primary;
    color: $color-text;
    overflow: hidden;
}

%h {
    font-family: $font-styled;
    font-weight: normal;
    margin: 0;
}
h1 {
    @extend %h;
    font-size: 2rem;
}
h2 {
    @extend %h;

    font-size: 1.75rem;
}
h3 {
    @extend %h;

    font-size: 1.5rem;
}
h4 {
    @extend %h;
    font-size: 1.25rem;
}

a,
p {
    font-size: 1rem;
    font-family: $font-main;
    font-weight: normal;
}
a {
    color: $color-text-primary;
    &:hover {
        color: $color-text-primary-hover;
    }
    &:active {
        color: $color-text-primary-pressed;
    }
    &.secondary {
        color: $color-text-secondary;
        &:hover {
            color: $color-text-secondary-hover;
        }
        &:active {
            color: $color-text-secondary-pressed;
        }
    }
}

%input {
    font-family: $font-main;
    font-size: 1rem;
    margin: 0.125em;
    padding: 0.25rem;
    border-radius: $border-radius;
    border: none;
}
button {
    @extend %input;
    background-color: $color-button-primary;
    color: $color-button-text-primary;
    border: solid $color-button-border-primary 1px;
    &:hover {
        background-color: $color-button-primary-hover;
        color: $color-button-text-primary-hover;
        border-color: $color-button-border-primary-hover;
    }
    &:active {
        background-color: $color-button-primary-pressed;
        color: $color-button-text-primary-pressed;
    }
    &.secondary {
        background-color: $color-button-secondary;
        color: $color-button-text-secondary;
        border-color: $color-button-border-secondary;
        &:hover {
            background-color: $color-button-secondary-hover;
            color: $color-button-text-secondary-hover;
            border-color: $color-button-border-secondary-hover;
        }
        &:active {
            background-color: $color-button-secondary-pressed;
            color: $color-button-text-secondary-pressed;
        }
    }
    &.sucess {
        background-color: $color-button-sucess;
        color: $color-button-text-sucess;
        border-color: $color-button-border-sucess;
        &:hover {
            background-color: $color-button-sucess-hover;
            color: $color-button-text-sucess-hover;
            border-color: $color-button-border-sucess-hover;
        }
        &:active {
            background-color: $color-button-sucess-pressed;
            color: $color-button-text-sucess-pressed;
        }
    }
    &.warn {
        background-color: $color-button-warn;
        color: $color-button-text-warn;
        border-color: $color-button-border-warn;
        &:hover {
            background-color: $color-button-warn-hover;
            color: $color-button-text-warn-hover;
            border-color: $color-button-border-warn-hover;
        }
        &:active {
            background-color: $color-button-warn-pressed;
            color: $color-button-text-warn-pressed;
        }
    }
    &.error {
        background-color: $color-button-error;
        color: $color-button-text-error;
        border-color: $color-button-border-error;
        &:hover {
            background-color: $color-button-error-hover;
            color: $color-button-text-error-hover;
            border-color: $color-button-border-error-hover;
        }
        &:active {
            background-color: $color-button-error-pressed;
            color: $color-button-text-error-pressed;
        }
    }
}
input {
    @extend %input;
}

%table-element {
    height: 3rem;
    padding: 0.5rem;
    border: $border-thickness solid $color-table-border;
    border-bottom: none;
    border-right: none;
    text-align: left;
    vertical-align: middle;
}
table {
    font-family: $font-main;
    font-weight: normal;
    & {
        border: none;
        border-collapse: separate;
        border-spacing: 0;
        padding: 0;
    }
    th {
        @extend %table-element;
        font-weight: bold;
        background-color: $color-table-header;
        &:first-child {
            border-top-left-radius: $border-radius;
        }
        &:last-child {
            border-top-right-radius: $border-radius;
            border-right: $border-thickness solid $color-table-border;
        }
    }
    td {
        @extend %table-element;
        &:last-child {
            border-right: $border-thickness solid $color-table-border;
        }
    }
    tr:last-child td {
        border-bottom: $border-thickness solid $color-table-border;
        &:first-child {
            border-bottom-left-radius: $border-radius;
        }
        &:last-child {
            border-bottom-right-radius: $border-radius;
        }
    }
}
