html, body {
    height: 100%;
    width: 100%;
    margin: 0;
    box-sizing: border-box;
}
body {
    position: relative;
    font-family: $font-main;
    overflow: hidden;
}
h1, h2, h3, h4, h5, h6 {
    font-family: $font-styled;
    font-weight: normal;
    margin: 0;
}