//######################
//###     Basics     ###
//######################

// fonts
@font-face {
    font-family: 'Quicksilver';
    src: url('./assets/fonts/Quicksilver.ttf');
}
$font-styled: 'Quicksilver';
$font-main: sans-serif;
$font-code: monospace;

// basic colors
$color-white: #fff;
$color-black: #000000;
$color-primary:#fff;
$color-secondary:#fff;
$color-green:#0f0;
$color-yellow:#ff0;
$color-red:#ff0000;


//######################
//###    Advanced    ###
//######################

/*
    in scss you can use methods to mix or/and modify colors
    mix($color-a, $color-b, 50%)
    desaturate($color, 90%)
    lighten($color, 15%);
*/

// background colors
$color-background-primary: #222;
$color-background-secondary: #fff;

// text normal colors
$color-text-primary: $color-white;
$color-text-secondary: #fff;
// text hover colors
$color-text-primary-hover:#fff;
$color-text-secondary-hover:#fff;

// button normal colors
$color-button-primary:#fff;
$color-button-secondary:#fff;
$color-button-sucess:#fff;
$color-button-warn:#fff;
$color-button-error:#fff;
// button hover colors
$color-button-primary-hover:#fff;
$color-button-secondary-hover:#fff;
$color-button-sucess-hover:#fff;
$color-button-warn-hover:#fff;
$color-button-error-hover:#fff;
// button pressed colors
$color-button-primary-pressed:#fff;
$color-button-secondary-pressed:#fff;
$color-button-sucess-pressed:#fff;
$color-button-warn-pressed:#fff;
$color-button-error-pressed:#fff;


// button-text normal colors
$color-button-text-primary:#fff;
$color-button-text-secondary:#fff;
$color-button-text-sucess:#fff;
$color-button-text-warn:#fff;
$color-button-text-error:#fff;
// button-text hover colors
$color-button-text-primary-hover:#fff;
$color-button-text-secondary-hover:#fff;
$color-button-text-sucess-hover:#fff;
$color-button-text-warn-hover:#fff;
$color-button-text-error-hover:#fff;
// button-text pressed colors
$color-button-text-primary-pressed:#fff;
$color-button-text-secondary-pressed:#fff;
$color-button-text-sucess-pressed:#fff;
$color-button-text-warn-pressed:#fff;
$color-button-text-error-pressed:#fff;