:root {
    
    // background colors
    --color-background-primary:#fff;
    --color-background-secundary:#fff;

    // text normal colors
    --color-text-primary:#fff;
    --color-text-secundary:#fff;
    // text hover colors
    --color-text-primary-hover:#fff;
    --color-text-secundary-hover:#fff;

    // button normal colors
    --color-button-primary:#fff;
    --color-button-secundary:#fff;
    --color-button-sucess:#fff;
    --color-button-warn:#fff;
    --color-button-error:#fff;
    // button hover colors
    --color-button-primary-hover:#fff;
    --color-button-secundary-hover:#fff;
    --color-button-sucess-hover:#fff;
    --color-button-warn-hover:#fff;
    --color-button-error-hover:#fff;
    // button pressed colors
    --color-button-primary-pressed:#fff;
    --color-button-secundary-pressed:#fff;
    --color-button-sucess-pressed:#fff;
    --color-button-warn-pressed:#fff;
    --color-button-error-pressed:#fff;


    // button-text normal colors
    --color-button-text-primary:#fff;
    --color-button-text-secundary:#fff;
    --color-button-text-sucess:#fff;
    --color-button-text-warn:#fff;
    --color-button-text-error:#fff;
    // button-text hover colors
    --color-button-text-primary-hover:#fff;
    --color-button-text-secundary-hover:#fff;
    --color-button-text-sucess-hover:#fff;
    --color-button-text-warn-hover:#fff;
    --color-button-text-error-hover:#fff;
    // button-text pressed colors
    --color-button-text-primary-pressed:#fff;
    --color-button-text-secundary-pressed:#fff;
    --color-button-text-sucess-pressed:#fff;
    --color-button-text-warn-pressed:#fff;
    --color-button-text-error-pressed:#fff;
}